* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeeff;
}
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
}
li {
  border-bottom: 1px solid #eeeeff;
  padding: 1.1rem 1rem;
}
li:last-child {
  border: none;
}
li label {
  user-select: none;
}
input[type='text'] {
  border: 1px solid #666666;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #eeeeff;
  flex: 1;
}

.check:checked > label {
  text-decoration: line-through;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.space-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 1rem;
}

.font-600 {
  font-weight: 600;
}

.btn {
  padding: 10px 11px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font: inherit;
  user-select: none;
  transition: 200ms;
}
.btn-sm {
  padding: 5px;
  font-size: 0.9rem;
}
.btn:hover,
.btn:active {
  opacity: 0.8;
}
.btn-blue {
  background-color: #0099ff;
  color: #ffffff;
}
.btn-gray {
  background-color: #eeeeff;
}
.hover-orange:hover {
  opacity: 1;
  background-color: #ff9900;
}
.hover-blue:hover {
  background-color: #0099ff;
}

.card {
  border: 1px solid #666666;
  background-color: #ffffff;
  max-height: 400px;
  width: 90%;
  max-width: 450px;
  overflow-y: auto;
  transition: 200ms;
  box-shadow: 1px 1px 1px -1px, 1px -1px 1px -1px, -1px 1px 1px -1px;
}
.card-sm {
  max-width: 225px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sticky {
  position: sticky;
  z-index: 1;
  top: 0;
}
.b-bottom {
  border-bottom: 1px solid #eeeeff;
}
.p-1 {
  padding: 1rem;
}
.right {
  position: absolute;
  right: 10px;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.field-section {
  background-color: #ffffff;
}
.none {
  display: none;
}

.text-center {
  text-align: center;
}
.text-gray {
  color: #666666;
}

.task-li {
  animation: enter 600ms linear;
}

.removal {
  animation: removal 400ms linear;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes removal {
  0% {
    opacity: 0.1;
    height: 50px;
  }
  50% {
    height: 25px;
    padding: 0.4rem 1rem;
  }
  80% {
    height: 5px;
    padding: 0.2rem 1rem;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
