html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #eeeeff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.26rem;
}
li label {
  font-weight: 600;
  color: #666666;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #eeeeff;
  border-radius: 10px;
  padding: 0.66rem;
}
hr {
  border: 1px solid #eeeeff;
  margin: 1rem 0;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz {
  background-color: #ffffff;
  padding: 2rem;
  width: 90%;
  border: 1px solid #666666;
  max-width: 45rem;
  max-height: 25rem;
  position: relative;
  box-shadow: 1px 1px 1px -1px, -1px 1px 1px -1px, 1px -1px 1px -1px;
}
#question {
  color: #666666;
  padding: 0 1.6rem;
}
#steps {
  color: #666666;
  font-weight: 600;
  position: relative;
  max-width: 1rem;
  left: 90%;
  top: -1.1rem;
}
#corrects {
  color: #666666;
  background-color: #eeeeff;
  border-radius: 10px;
  padding: 0.56rem;
}
#percentage {
  font-weight: 600;
  width: 90%;
}

.modal {
  background-color: #ffffff;
  color: #666666;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #eff0e9;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button:hover {
  box-shadow: 1px 1px 5px -1px;
}
.none {
  display: none;
}
.btn-blue {
  background-color: #0099ff;
  color: #eeeeff;
  font-family: inherit;
  font-weight: 200;
}
.btn-blue:hover {
  background: #0280d1;
}
.selected {
  background-color: #0099ff;
  color: #eeeeff;
}
.correct {
  background-color: #669e89;
}
.incorrect {
  background-color: #e99999;
}
