@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeff;
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.26rem;
}
li label {
  font-weight: 600;
  color: #666666;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #eeeeff;
  border-radius: 10px;
  padding: 0.66rem;
}
hr {
  border: 1px solid #eeeeff;
  margin: 1rem 0;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz {
  background-color: #ffffff;
  padding: 2rem;
  width: 90%;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.6em;
  max-width: 45rem;
  min-height: 25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#corrects {
  color: #666666;
  background-color: #eeeeff;
  border-radius: 10px;
  padding: 0.56rem;
}

#percentage {
  font-weight: 600;
  text-align: center;
}

.question {
  color: #666666;
}

.question-number {
  color: #666666;
  font-weight: 600;
  position: absolute;
  max-width: 1rem;
  top: 0;
  right: 5%;
  padding: 0.5em 1.5em;
}

.selected {
  background-color: #0099ce;
  color: #eeeeff;
}

.modal {
  width: min(25em, 95%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 15em;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.6em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.6);
}

.quiz-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #eff0e9;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button:hover {
  box-shadow: 1px 1px 5px -1px;
}
.btn-blue {
  background-color: #0099ce;
  color: #eeeeff;
  font-family: inherit;
  font-weight: 200;
}
.btn-blue:hover {
  background: #0280d1;
}

.correct {
  background-color: #669e89;
}
.incorrect {
  background-color: #e99999;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: rgb(40% 40% 45%);
}

.none {
  display: none;
}
