*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

#canvas {
  background-color: rgb(95% 95% 96%);
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  min-height: 100vh;
}

.draw-buttons {
  padding: 1rem 1.5rem;
  display: flex;
  place-items: center;
  place-content: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  background-color: rgb(20% 25% 26%);
  border: 1px solid rgb(0 0 0 / 0.2);
  position: fixed;
  bottom: 0;
  overflow-x: scroll;
  z-index: 1;
}

.draw-buttons > * {
  flex: 1 0 5rem;
}

.draw-buttons::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#lineColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  max-width: 10rem;
}

#lineWidth {
  width: 100%;
  max-width: 15rem;
}

.btn {
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 0.5rem;
  background-color: rgb(95% 95% 96%);
  width: 100%;
  max-width: 15rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 2rem);
  color: rgb(25% 25% 26%);
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 0.2);
}

.btn-theme {
  background-color: hsl(220 80% 40%);
  color: rgb(95% 95% 96%);
}

.btn.selected {
  background-color: hsl(200 50% 50%);
  color: hsl(200 50% 90%);
}

@media (min-width: 60rem) {
  #canvas {
    position: relative;
  }
  .draw-buttons {
    justify-content: center;
  }
}
