@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: auto;
}

html {
  font-size: 62.5%;
}

h1 {
  text-transform: uppercase;
  color: #960000;
  opacity: 0.5;
  font-size: 4rem;
}

main {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
  min-height: 60vh;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.25);
}

#image-container {
  position: relative;
}

#pomodoro-img {
  width: 220px;
  height: auto;
  cursor: pointer;
  transition: 200ms;
}

#pomodoro-img:hover {
  opacity: 0.6;
}

#timer {
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #f0ffff;
}

#rounds {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em 0;
}

.round {
  background-color: #ff634622;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 800ms;
}

.round.done {
  background-color: #ff6346;
  transition: 600ms;
}
